/* @tailwind base; */
@import './reset';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a,
a:active,
a:visited {
    color: var(--el-primary-color);
}

:root {
    --link-color: #42b983;
}
